<header>
  <img
    src="../img/logoCompleta.png"
    alt="Imagem principal do site + escrita"
    id="logo"
  />
  <section>
    <img
      src="../img/logo_IMG.png"
      alt="Icone principal do site"
      id="logoIcon"
    />
  </section>
  <nav>
    <ul id="listLinks">
      <section>
        <li><button>Tudo</button></li>
        <li><button>Mais Vendidos</button></li>
        <li><button>Categorias</button></li>
        <li><button>Cupons</button></li>
      </section>

      <section>
        <li><button>Crie Sua Conta</button></li>
        <li><button>Entre</button></li>
        <li><button>Minhas Compras</button></li>
        <li>
          <button><img src="" alt="icone de carrinho de compras" /></button>
        </li>
      </section>
    </ul>
  </nav>
</header>
