* {
  background-color: rgba(151, 196, 233, 0.301);
}

p {
  background-color: #6c6d9949;
  color: rgba(179, 26, 26, 0.801);
}

.marcado {
  color: rgb(158, 121, 19);
}

#topico2 {
  font-size: 20px;
}

button {
  height: 60px;
  width: 120px;
}
